USE [master]
GO
/****** Object:  Database [MyDatabase]    Script Date: 21-01-2026 15:50:10 ******/
CREATE DATABASE [MyDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY  
( NAME = N'MyDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MyDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MyDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyDatabase]
GO
/****** Object:  Table [dbo].[Department_Table]    Script Date: 21-01-2026 15:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department_Table](
	[DeptId] [int] NOT NULL,
 CONSTRAINT [PK_Department_Table] PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department_Table_backup]    Script Date: 21-01-2026 15:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department_Table_backup](
	[DeptId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Table]    Script Date: 21-01-2026 15:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Table](
	[EmpId] [int] NOT NULL,
	[EmpName] [varchar](50) NULL,
	[EmpSalary] [varchar](50) NULL,
	[DeptId] [int] NULL,
 CONSTRAINT [PK_Employee_Table] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_Customer]    Script Date: 21-01-2026 15:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_Customer](
	[Customer_Id] [int] NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](50) NOT NULL,
	[street] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[zip_code] [varchar](50) NULL,
 CONSTRAINT [PK_Sales_Customer] PRIMARY KEY CLUSTERED 
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_orderItems]    Script Date: 21-01-2026 15:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_orderItems](
	[order_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[list_price] [decimal](18, 2) NULL,
	[discount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Sales_orderItems] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_orders]    Script Date: 21-01-2026 15:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_orders](
	[Order_id] [int] NOT NULL,
	[customer_id] [int] NULL,
	[order_status] [tinyint] NULL,
	[order_date] [date] NULL,
	[required_date] [date] NULL,
	[shipped_date] [date] NULL,
	[store_id] [int] NULL,
	[staff_id] [int] NULL,
 CONSTRAINT [PK_Sales_orders] PRIMARY KEY CLUSTERED 
(
	[Order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_staff]    Script Date: 21-01-2026 15:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_staff](
	[Staff_Id] [int] NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[active] [tinyint] NULL,
	[store_id] [int] NULL,
	[manager_id] [int] NULL,
 CONSTRAINT [PK_Sales_staff] PRIMARY KEY CLUSTERED 
(
	[Staff_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_stores]    Script Date: 21-01-2026 15:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_stores](
	[store_id] [int] NOT NULL,
	[store_name] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[street] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[zip_code] [varchar](50) NULL,
 CONSTRAINT [PK_Sales_stores] PRIMARY KEY CLUSTERED 
(
	[store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 21-01-2026 15:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] NOT NULL,
	[SName] [varchar](50) NOT NULL,
	[Department] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Department_Table] ([DeptId]) VALUES (1)
INSERT [dbo].[Department_Table] ([DeptId]) VALUES (2)
INSERT [dbo].[Department_Table] ([DeptId]) VALUES (3)
GO
INSERT [dbo].[Department_Table_backup] ([DeptId]) VALUES (1)
INSERT [dbo].[Department_Table_backup] ([DeptId]) VALUES (2)
INSERT [dbo].[Department_Table_backup] ([DeptId]) VALUES (3)
GO
INSERT [dbo].[Employee_Table] ([EmpId], [EmpName], [EmpSalary], [DeptId]) VALUES (1, N'Thiluck', N'200000000', 2)
INSERT [dbo].[Employee_Table] ([EmpId], [EmpName], [EmpSalary], [DeptId]) VALUES (2, N'Vishwa', N'30000000', NULL)
INSERT [dbo].[Employee_Table] ([EmpId], [EmpName], [EmpSalary], [DeptId]) VALUES (3, N'Pratham', N'10', NULL)
GO
INSERT [dbo].[Sales_Customer] ([Customer_Id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (101, N'Thiluck', N'Vardhan', N'9999999991', N'thiluck@gmail.com', N'KPHB', N'Hyderabad', N'TS', N'500072')
INSERT [dbo].[Sales_Customer] ([Customer_Id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (102, N'Divyansh', N'Raj', N'9999999992', N'divyansh@gmail.com', N'Boring Road', N'Patna', N'BR', N'800001')
INSERT [dbo].[Sales_Customer] ([Customer_Id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (103, N'Rahul', N'Mehta', N'9999999993', N'rahul@gmail.com', N'Gachibowli', N'Hyderabad', N'TS', N'500032')
GO
INSERT [dbo].[Sales_orderItems] ([order_id], [item_id], [product_id], [quantity], [list_price], [discount]) VALUES (5001, 1, 201, 2, CAST(50000.00 AS Decimal(18, 2)), CAST(0.10 AS Decimal(18, 2)))
INSERT [dbo].[Sales_orderItems] ([order_id], [item_id], [product_id], [quantity], [list_price], [discount]) VALUES (5001, 2, 202, 1, CAST(15000.00 AS Decimal(18, 2)), CAST(0.05 AS Decimal(18, 2)))
INSERT [dbo].[Sales_orderItems] ([order_id], [item_id], [product_id], [quantity], [list_price], [discount]) VALUES (5002, 1, 203, 3, CAST(1000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Sales_orders] ([Order_id], [customer_id], [order_status], [order_date], [required_date], [shipped_date], [store_id], [staff_id]) VALUES (5001, 101, 1, CAST(N'2026-01-10' AS Date), CAST(N'2026-01-15' AS Date), CAST(N'2026-01-12' AS Date), 1, 2)
INSERT [dbo].[Sales_orders] ([Order_id], [customer_id], [order_status], [order_date], [required_date], [shipped_date], [store_id], [staff_id]) VALUES (5002, 102, 2, CAST(N'2026-01-11' AS Date), CAST(N'2026-01-16' AS Date), CAST(N'2026-01-13' AS Date), 2, 4)
INSERT [dbo].[Sales_orders] ([Order_id], [customer_id], [order_status], [order_date], [required_date], [shipped_date], [store_id], [staff_id]) VALUES (5003, 103, 1, CAST(N'2026-01-12' AS Date), CAST(N'2026-01-17' AS Date), NULL, 1, 1)
GO
INSERT [dbo].[Sales_staff] ([Staff_Id], [first_name], [last_name], [email], [phone], [active], [store_id], [manager_id]) VALUES (1, N'Ravi', N'Kumar', N'ravi@gmail.com', N'9000000001', 1, 1, NULL)
INSERT [dbo].[Sales_staff] ([Staff_Id], [first_name], [last_name], [email], [phone], [active], [store_id], [manager_id]) VALUES (2, N'Sita', N'Sharma', N'sita@gmail.com', N'9000000002', 1, 1, 1)
INSERT [dbo].[Sales_staff] ([Staff_Id], [first_name], [last_name], [email], [phone], [active], [store_id], [manager_id]) VALUES (3, N'Amit', N'Verma', N'amit@gmail.com', N'9000000003', 1, 2, NULL)
GO
INSERT [dbo].[Sales_stores] ([store_id], [store_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (1, N'Hyderabad Store', N'9876543210', N'hydstore@gmail.com', N'Ameerpet Road', N'Hyderabad', N'TS', N'500016')
INSERT [dbo].[Sales_stores] ([store_id], [store_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (2, N'Patna Store', N'9123456780', N'patnastore@gmail.com', N'Boring Road', N'Patna', N'BR', N'800001')
GO
INSERT [dbo].[Student] ([Id], [SName], [Department]) VALUES (101, N'Thiluck', N'CSE')
INSERT [dbo].[Student] ([Id], [SName], [Department]) VALUES (102, N'Vishwa', N'CSE')
GO
ALTER TABLE [dbo].[Employee_Table]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Table_Department_Table] FOREIGN KEY([DeptId])
REFERENCES [dbo].[Department_Table] ([DeptId])
GO
ALTER TABLE [dbo].[Employee_Table] CHECK CONSTRAINT [FK_Employee_Table_Department_Table]
GO
ALTER TABLE [dbo].[Sales_orderItems]  WITH CHECK ADD  CONSTRAINT [FK_Sales_orderItems_Sales_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Sales_orders] ([Order_id])
GO
ALTER TABLE [dbo].[Sales_orderItems] CHECK CONSTRAINT [FK_Sales_orderItems_Sales_orders]
GO
ALTER TABLE [dbo].[Sales_orders]  WITH CHECK ADD  CONSTRAINT [FK_Sales_orders_Sales_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Sales_Customer] ([Customer_Id])
GO
ALTER TABLE [dbo].[Sales_orders] CHECK CONSTRAINT [FK_Sales_orders_Sales_Customer]
GO
ALTER TABLE [dbo].[Sales_orders]  WITH CHECK ADD  CONSTRAINT [FK_Sales_orders_Sales_staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Sales_staff] ([Staff_Id])
GO
ALTER TABLE [dbo].[Sales_orders] CHECK CONSTRAINT [FK_Sales_orders_Sales_staff]
GO
ALTER TABLE [dbo].[Sales_orders]  WITH CHECK ADD  CONSTRAINT [FK_Sales_orders_Sales_stores] FOREIGN KEY([store_id])
REFERENCES [dbo].[Sales_stores] ([store_id])
GO
ALTER TABLE [dbo].[Sales_orders] CHECK CONSTRAINT [FK_Sales_orders_Sales_stores]
GO
ALTER TABLE [dbo].[Sales_staff]  WITH CHECK ADD  CONSTRAINT [FK_Sales_staff_Sales_staff] FOREIGN KEY([manager_id])
REFERENCES [dbo].[Sales_staff] ([Staff_Id])
GO
ALTER TABLE [dbo].[Sales_staff] CHECK CONSTRAINT [FK_Sales_staff_Sales_staff]
GO
ALTER TABLE [dbo].[Sales_staff]  WITH CHECK ADD  CONSTRAINT [FK_Sales_staff_Sales_stores] FOREIGN KEY([store_id])
REFERENCES [dbo].[Sales_stores] ([store_id])
GO
ALTER TABLE [dbo].[Sales_staff] CHECK CONSTRAINT [FK_Sales_staff_Sales_stores]
GO
USE [master]
GO
