USE [master]
GO
/****** Object:  Database [Customer_Orders]    Script Date: 22-01-2026 16:12:22 ******/
CREATE DATABASE [Customer_Orders]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Customer_Orders', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Customer_Orders.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Customer_Orders_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Customer_Orders_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Customer_Orders].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Customer_Orders]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 22-01-2026 16:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Segment] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 22-01-2026 16:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[PaymentMode] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Department]    Script Date: 22-01-2026 16:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Department](
	[ID] [int] NULL,
	[Name] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (101, N'Gopi Suresh', N'Coimbatore', N'Retail', 1, CAST(N'2025-11-12' AS Date))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (102, N'Anita Ravi', N'Chennai', N'Corporate', 1, CAST(N'2025-10-05' AS Date))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (103, N'Karthik Mohan', N'Bengaluru', N'Retail', 1, CAST(N'2025-09-15' AS Date))
GO
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5001, 101, CAST(N'2026-01-10' AS Date), CAST(1200.00 AS Decimal(10, 2)), N'Delivered', N'UPI')
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5002, 101, CAST(N'2026-01-15' AS Date), CAST(850.00 AS Decimal(10, 2)), N'Pending', N'Card')
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5003, 102, CAST(N'2026-01-05' AS Date), CAST(5000.00 AS Decimal(10, 2)), N'Delivered', N'Card')
GO
INSERT [dbo].[tbl_Department] ([ID], [Name]) VALUES (6, N'Dept6')
INSERT [dbo].[tbl_Department] ([ID], [Name]) VALUES (2, N'Dept2')
INSERT [dbo].[tbl_Department] ([ID], [Name]) VALUES (3, N'Dept3')
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
/****** Object:  StoredProcedure [dbo].[MyPractice]    Script Date: 22-01-2026 16:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[MyPractice]
--optional or parameters
@city varchar(50) -- asking for input of varchar type
as
Begin

Select * from [dbo].[Customers] where City=@city
End
GO
/****** Object:  StoredProcedure [dbo].[Sp_CrudOperations]    Script Date: 22-01-2026 16:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_CrudOperations]
AS
BEGIN
    -- READ
    SELECT *
    FROM tbl_Department;

    -- INSERT
    INSERT INTO tbl_Department (ID, Name)
    VALUES 
        (6, 'Dept6'),
        (7, 'Dept7');

    -- UPDATE
    UPDATE tbl_Department
    SET 
        ID = 55,
        Name = 'Heavy Department'
    WHERE ID = 5;

    -- DELETE
    DELETE FROM tbl_Department
    WHERE ID = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetCustomerByNameAndCity]    Script Date: 22-01-2026 16:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Sp_GetCustomerByNameAndCity]
	-- Add the parameters for the stored procedure here
	@Name varchar(100),
	@City varchar(50)
AS
BEGIN
	Select * from Customers where FullName=@Name And City=@City
END
GO
USE [master]
GO
